.navbar {
  background-color: rgba(22, 71, 90, 0.932);
  height: 15%;
  margin: 0%;
  padding-bottom: 0;
  position: sticky;
  top: 0%;
  z-index: 1000;
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
}

/* .options {
  height: 37%;
  margin: 1%;
  padding-bottom: 0;
  box-shadow: inset 0px 0px 4px black;
} */

.navbar-items {
  display: flex;
  list-style: none;
  margin-top: 8%;
  padding: 0;
}

.navbar-items ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-items li {
  padding: 0 1.5rem;
}

.navbar-items a {
  text-decoration: none;
  color: white;
}

.navbar-items a:hover {
  color: orange;
  cursor: pointer;
}

.navbar-name {
  margin: 5%;
  font-size: 19px;
  color: white;
}